h1 {
  margin-top: 20px;
  font-family: Helvetica Neue, Arial, Noto Sans Myanmar UI, sans-serif;
  font-size: 30px;
  line-height: 22px;
  font-weight: 500;
  line-height: 1.2;
}
li {
  display: block;
  margin: 0 auto;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  padding: 0;
}
small {
  margin-left: 20px;
  margin-top: 0;
}
img {
  color: rgb(32, 33, 36);

  display: inline-block;
  font-family: "Helvetica Neue", Arial, "Noto Sans Myanmar UI", sans-serif;
  font-size: 100px;
  font-weight: 400;
  height: 60px;
  margin-top: -1px;
}
.link {
  text-decoration: none;
}
.temp {
  color: rgb(32, 33, 36);
  font-family: "Helvetica Neue", Arial, "Noto Sans Myanmar UI", sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-left: 10px;
  line-height: 56px;
}
.units {
  font-family: "Helvetica Neue", Arial, "Noto Sans Myanmar UI", sans-serif;
  font-size: 16px;
  font-weight: 400;

  position: relative;
}
.active {
  text-decoration: none;
  color: rgb(32, 33, 36);
}
.active:hover {
  cursor: default;
}
